.centerItem {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.ui.cards>.card.user-border.off {
  border: solid 1px black
}

.ui.cards>.card.user-border.on {
  border: solid 3px green
}

.ui.four.cards>.card {
  width: calc(12% - 1.5em)
}

.red.card.on {
  border: 2px solid green
}

.ui.cards {
  margin: 0
}
