.centerItem {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.ui.cards>.card.user-border.off {
  border: solid 1px black
}

.ui.cards>.card.user-border.on {
  border: solid 3px green
}
